@import "../../Styles/color";

.form {
  width: 100%;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonSubmit {
  padding: 0 63px;
}

.formItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.typeValue {
  font-weight: 500;
  font-size: 16px;
}

.datePickerInput {
  position: relative;
  border: none;
  background-color: $backGroundColorTableCell;
  opacity: 0.99;
  z-index: 50 !important;
}
.datePickerInputFirst {
  z-index: 60 !important;
}
