@import "../../Styles/color";

.header {
  width: 100%;
  height: 85px;
  background-color: $backGroundColorMain;
  display: flex;
  padding: 0 32px 0 33px;
}

.logoContainer {
  width: 321px;
  display: flex;
  align-items: center;
}

.featureContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 321px);
}

.searchContainer {
  display: flex;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  margin-right: 27px;
  background-color: $backGroundColorMain;
}

.searchInput {
  width: 470px;
  background: $inputSearchColor;
}
