.modal {
  border-radius: 16px;
}

.modalTitle {
  text-align: center;
  font-weight: 700 !important;
}

.modalButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalButton {
  padding: 0 63px;
}

.datePickerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.datePickerInput {
  width: 150px;
}

.formItem {
  position: relative;
  margin-bottom: 20px;
}

.ticketValueContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.textValue {
  font-weight: 500;
  font-size: 16px;
}

.radioContainer {
  display: flex;
  justify-content: space-between;
}

.checkAll {
  position: absolute;
  z-index: 10;
}

.checkboxContainer {
  width: 100%;
}
